:root {
    --bagk: rgba(255, 144, 14, 0.1);
    --btn: #FF900E;
    --tex: #727272;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body {

    height: 100vh;
    width: 100%;
}

header {
    background-color: var(--bagk);
}

/* --------------------------

  -----top seection--------------- */
.container {

    width: 100%;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

.top-section {
    display: flex;
    justify-content: space-between;


}

.top-text {
    margin-top: 25px;
}

.list-item {
    display: flex;
    list-style: none;
    margin-top: 25px;

}

.list-item>li {
    margin-top: 10px;
    margin-left: 25px;
    font-weight: 500;
    font-size: 18px;
    color: #424242;

}

.top-contain {

    text-align: center;
    margin-top: 40px;


}





.text-title {
    font-weight: 700;
    font-size: 64px;

}

.paragraph {
    font-weight: 400;
    font-size: 16px;
    color: var(--tex);
    margin-top: 20px;
    text-transform: capitalize;


}

.btn {
    background-color: var(--btn);
    margin: 10px 350px;
    width: 140px;
    height: 45px;
    border: none;
    border-radius: 5px;
    color: #ffff;
    margin-top: 25px;
    margin-bottom: 25px;


}

.images {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    width: 100%;
    max-width: 1050px;
}

.images>img {
    width: 1040px;
    height: 500px;

}

/*-------------------------------------------
------------ main section-------------------- 
---------------------------------------------*/
.main-section {
    display: flex;
    margin-top: 26px;
    width: 100%;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 85px;
}

.main-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

.img-section>img {
    width: 200px;
    height: 200px;
}

.main_text-part {
    width: 350px;
    height: 200px;
    margin-left: 70px;
    margin-top: 100px;

}

.gry {
    color: var(--tex);
}

.block {
    color: black;
}

.btn-clr {
    color: var(--btn);
}

.text-section {
    font-size: 16px;
    color: var(--tex);
    margin-top: 15px;
    text-transform: capitalize;
}

.btn-main {
    background-color: var(--btn);
    width: 140px;
    height: 45px;
    border: none;
    border-radius: 5px;
    color: #ffff;
    margin-top: 10px;
}

/* ---------------------------------
-----------artical------------------
------------------------------------ */
.article-text {
    display: flex;
    margin-top: 26px;
    width: 100%;
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 85px;
}

.hr {
    height: 70px;
    width: 10px;
    background-color: var(--btn);
    border: none;


}

.article-img>img {
    width: 608px;
    height: 782px;
}

.article-div {
    display: grid;

    padding: 0 25px;

}

.article-div>p {
    color: var(--tex);
    margin-top: 8px;
    font-size: 16px;
    text-transform: capitalize;
}

.tex-setion {
    width: 586px;
    height: 744px;
    padding: 35px;
    display: grid;
    gap: 25px;
}
.article-section:hover{
    background-color: var(--btn);
}

.article-section {
    transition: 2s;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 5px 5px #888888;
}

.article-section>p {
    color: var(--tex);
    margin-top: 5px;
    font-size: 16px;
    text-transform: capitalize;
}

.article-btn {
    background-color: var(--btn);
    width: 190px;
    height: 120px;
    border: none;
    border-radius: 5px;
    color: #ffff;
    margin-top: 10px;

}

.button-text {

    font-weight: 700;
    font-size: 35px;
    margin-bottom: 500px;
}

/* -------------------------
------icon-part---------------
------------------------- */
.icon-part {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;

}

.icon-part>div {
    border: 1px solid var(--btn);
    width: 170px;
    height: 170px;
    padding: 25px 35px;
    border-radius: 8px;
    margin-top: 80px;
  transition: 2s;

}
.icon-part>div:hover{
    background-color: var(--btn);
}

/* -------------------------------
--------aside----------------------
----------------------------- */
.aside {
    text-align: center;
    margin-top: 70px;
}

.aside-sponsors {
    display: flex;
    justify-content: space-evenly;
    margin-top: 45px;

}

.aside-sponsors>div>img {
    width: 100px;
    height: 50px;
    filter: grayscale(100%);
}

/*------------------------==-------
-------------------- footer-------
--------------------------------- */
.address {
    background-color: var(--bagk);
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    margin-top: 50px;
}

.main-address {
    display: flex;
}

.bottom-text {
    color: black;
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: capitalize;
}

.address-title {
    text-transform: capitalize;
    font-size: 14px;
    color: black;

}

.favicon {
    font-weight: bold;
    font-size: 22px;
    text-transform: capitalize;
    padding: 250px 150px;

}

.btn-mainoo {
    color: aliceblue;
    background-color: var(--btn);
    font-size: 22px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    text-transform: capitalize;
}

.right-input {
    color: black;
    font-size: 30px;
    padding: 250px 200px;
}

.btn-keepp {
    margin-top: 10px;
}

input[type="email"] {
    width: 200px;
    height: 40px;
    border: 1px solid var(--btn);
    outline: none;
    padding: 0 20px;
    border-radius: 10px;
}

input[type="number"] {
    width: 200px;
    height: 40px;
    border: 1px solid var(--btn);
    outline: none;
    padding: 0 20px;
    border-radius: 10px;
    margin-top: 10px;
}

input[type="text"] {
    width: 200px;
    height: 40px;
    border: 1px solid var(--btn);
    outline: none;
    padding: 0 20px;
    border-radius: 10px;
}

/* bottom */
footer>div{
    margin-top: 15px;
}
.buttom {
    color: aliceblue;
    text-align: center;
    padding-top: 8px;
    background-color: black;
    width: 100%;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    height: 70px;

}
@media only screen and (max-width: 900px)  {
    .text-title{
        font-size: 26px;
    }
    .btn{
        margin-left: auto;
        margin-right: auto;
    }

    .images>img{
        height: 100%;
        width: 100%;
    }
    .main-section{
        flex-wrap: wrap-reverse;
    }
   .main_text-part{
    margin-left: auto;
    margin-right: auto;
   }
    .main-img {grid-template-columns: repeat(1,1fr);
        margin-left: auto;
        margin-right: auto;
        gap: 25px;

    }
    .article-text{
        flex-wrap: wrap-reverse;
    }
    .article-section{
        /* width: 100%;
        height: 100%; */
        /* margin-left: auto;
        margin-right: auto; */
        padding: 0 50px;
    }
    .icon-part{
        flex-wrap: wrap-reverse;
    }
    .aside-sponsors{
       
       flex-wrap: wrap-reverse;
    }
    .main-address{
        /* flex-wrap: wrap-reverse; */
        flex-direction: column;
        background-color:var(--bagk);
    }
    .tex-setion{
        width: 450px;
        height: 400px;
    }
   
}